    <hr>
<footer class="site-footer">

      <div class="foo-col col-auto footer-content">
                <div class="social-link">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.med360grad.de%2F" class="site-footer__social-link" target="_blank">
                       <img src="https://img.icons8.com/material-rounded/2x/facebook-new.png">
                    </a>
                    <a href="whatsapp://send?text=Med%20360%C2%B0%20-%20Gut%20f%C3%BCr%20Dich%20https%3A%2F%2Fwww.med360grad.de%2F" class="site-footer__social-link" target="_blank">
                       <img src="https://img.icons8.com/material-outlined/2x/whatsapp--v2.png">
                    </a>
                    <a href="https://t.me/share/url?url=https%3A%2F%2Fwww.med360grad.de%2F" class="site-footer__social-link" target="_blank">
                        <img src="https://img.icons8.com/material-rounded/2x/telegram-app.png">
                    </a>
                    <a href="https://twitter.com/intent/tweet?text=Med%20360%C2%B0%20-%20Gut%20f%C3%BCr%20Dich&url=https%3A%2F%2Fwww.med360grad.de%2F" class="site-footer__social-link" target="_blank">
                        <img src="https://img.icons8.com/ios-glyphs/2x/twitter.png">
                    </a>
                    <a href="https://www.xing.com/spi/shares/new?url=https%3A%2F%2Fwww.med360grad.de%2F" class="site-footer__social-link" target="_blank">
                    <img src="https://img.icons8.com/windows/2x/xing.png">
                    </a>
                   <a href="https://www.linkedin.com/shareArticle?mini=true&summary=Die%20Med%20360%C2%B0%20vereint%20ein%20breites%20Spektrum%20medizinischer%20Leistungen%20in%20zahlreichen%20Einzelpraxen%20und%20Krankenh%C3%A4usern.&title=Med%20360%C2%B0%20-%20Gut%20f%C3%BCr%20Dich&url=https%3A%2F%2Fwww.med360grad.de%2F" class="site-footer__social-link" target="_blank">
                    <img src="https://img.icons8.com/ios-glyphs/2x/linkedin-circled.png">
                    </a>

                    <a href="threema://compose?text=Med%20360%C2%B0%20-%20Gut%20f%C3%BCr%20Dich%20https%3A%2F%2Fwww.med360grad.de%2F" class="site-footer__social-link" target="_blank">
                    <img src="https://img.icons8.com/tiny-glyph/2x/lock.png">
                    </a>
                </div>
                <hr>
    <div class="container">
        <div class="row">
            <div class="foo-col col-1">
                <h5>Med 360°<i class="icon-plus" aria-hidden="true"></i></h5>
                <ul class="firstList">
                </ul>
            </div>
            <div class="foo-col col-2">
                <h5>range of services<i class="icon-plus" aria-hidden="true"></i></h5>
                <ul class="secondList">
                </ul>
            </div>
            <div class="foo-col col-3">
                <h5>For doctors<i class="icon-plus" aria-hidden="true"></i></h5>
                <ul class="thirdList">
                </ul>
            </div>
            <div class="foo-col col-4">
                <h5>For clinics<i class="icon-plus" aria-hidden="true"></i></h5>
                <ul class="fourthList">

                </ul>
            </div>
               <div class="foo-col col-4">
                <h5>For patients<i class="icon-plus" aria-hidden="true"></i></h5>
                <ul class="fourthList">

                </ul>
            </div>
                        </div>
               <div class="foo-col col-5">
                <h5>Career<i class="icon-plus" aria-hidden="true"></i></h5>
                <ul class="fifthhList">

                </ul>
            </div>
               </div>
               <div class="foo-col col-5">
                <h5>Press<i class="icon-plus" aria-hidden="true"></i></h5>
                <ul class="sixthList">

                </ul>
            </div>
            
          

                <div class="phone-number"></div>
                <h6>OPENING HOURS</h6>
                <div class="timings"></div>
               
              <div class="copyright"></div>
          </div>
      </div>
     
</div>


    <ul id="horizontal-list">
      <li><a href="https://www.med360grad.de/med-360/kontakt/">Contact</a></li>
      <li><a href="https://www.med360grad.de/datenschutz/">privacy</a></li>
      <li><a href="https://www.med360grad.de/impressum/">imprint</a></li>
     
    </ul>
</div>
 <div class="foo-col review-site-logo">
        <ul class="logo-list">
        </ul>
    </div>

<div>

<script>
    $(".site-footer").on('click', 'h5', function(){
        $('.foo-col').removeClass('active');
        $(this).parent().addClass('active');
    });
    $(".site-footer").on('click', '.active h5', function(){
        $('.foo-col').removeClass('active');
    });
</script>
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
</footer>

