<div class="YxtHeader">
  <a class="Answers-footerLink"
  href="https://www.med360grad.de/"
  target="_blank"
  rel="nofollow noopener noreferrer"
  aria-label="Visit yext.com">
  <span class="Answers-footerLogo"><img src="https://www.med360grad.de/typo3conf/ext/wstheme/Resources/Public/Images/logo-med360-gruppe.svg" alt="Med 360°" title="Med 360°" height="40" itemprop="logo"></span>
</a>
  </div>
